@media only screen and (min-width: 768px) {
    section {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    article {
        display: flex;
        flex-direction: column;
        margin: 5vw auto;
        width: 164px;
        height: 375px;
    }

    article img {
        width: 164px;
        height: 247.5px;
    }

    .quotes, .buy {
        display: inline;
        position: absolute;
        bottom: 0;
    }

    .quotes {
        width: 45%;
        margin-right: 2.5%;
        left: 0;
    }

    .buy {
        width: 45%;
        margin-left: 2.5%;
        right: 0;
    }

    .modal {
        top: 20%;
        display: flex;
        width: 60%;
        max-height: 60vh;
        left: 50%;
        margin-left: -30%;
        box-sizing: border-box;
        padding: 60px;
    }

    .hidden {
        display: none;
    }
        
    #close-modal {
        display: flex;
        align-self: flex-end;
        margin-top: -40px;
        margin-left: 40px;
        position: fixed;
    }
}

@media only screen and (min-width: 1024px) {
    article {
        width: 184px;
        margin: 5vh 1vw;
        height: 400px;
    }

    article img {
        width: 184px;
        height: 278px;
    }
}

@media only screen and (min-width: 1440px) {
    article {
        display: flex;
        flex-direction: column;
        margin: 5vh 1vw;
        width: 200px;
        height: 420px;
    }

    article img {
        width: 200px;
        height: 302px;
    }

    .quotes {
        width: 45%;
        margin-right: 2.5%;
        left: 0;
    }

    .buy {
        width: 45%;
        margin-left: 2.5%;
        right: 0;
    }
}